* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* orange - rgb(255,99,71)
gray - rgb(68,68,68)
black - rgb(17,17,17) */
#navLogo {
    color: rgb(255,99,71);
    font-weight: 600;
    font-size: 250%;
    padding: 15px;
}

/* #navbar {
    background-color: rgb(17,17,17);
} */

#navForm {
    background-color: rgb(68,68,68);
    padding: 20px 0px;
}

#navFormButton  {
    color: rgb(255,99,71);
    font-weight: 400;
    font-size: 120%;
    background-color: rgb(68,68,68);
    border: none;
}

#signUp {
    color: rgb(255,99,71);
    font-weight: bold;
}